<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Вход на сайт</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        <!-- as_p для того, чтобы каждый элемент формы был с новой строки -->
        {{ form.as_p }}
        <button type="submit">Вход на сайт</button>
    </form>
</body>
</html>